/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
public/photos/62017703_2502887636410934_2901252517276942336_n.jpg
public/photos/DSCF2513.JPG
public/photos/DSCF2600.JPG
public/photos/DSCF2632.JPG
public/photos/DSCF2969.JPG
public/photos/DSCF2993.JPG
public/photos/DSCF4092.JPG
public/photos/DSCF4333.JPG
public/photos/DSCF4385.JPG
public/photos/P1030127.JPG
public/photos/P1030128.JPG

deploy
